$headerBG:rgb(82, 79, 158);
$priceColor:rgb(160, 0, 0);
$headerMenuColor:rgb(0, 22, 117);

$headerMenuTransition: all .2s ease-in-out;

body {
    margin: 0;
    padding: 0;
    #root {
        margin: 0;
        margin-top: 100px;
        padding: 0 15%;
        position: relative;
    }
}

* {
    font-family: Helvetica, 'Times New Roman', Times, Arial, serif;
}

a {
    color: #000000;
    text-decoration: none;
}

.loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #ffffff75;
    z-index: 2;
    @keyframes spinnin {
        from {
            transform: translate(-50%, -50%) rotate(0deg);
        }
        to {
            transform: translate(-50%, -50%) rotate(360deg);
        }
    }
    @keyframes blinkin {
        0% {
            opacity: 0;
        }
        50% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }
    .spin {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: 20px solid rgb(185, 185, 185);
        border-top: 20px solid rgb(109, 148, 255);
        border-bottom: 20px solid rgb(109, 148, 255);
        animation: 2s linear infinite 0s spinnin;
    }
    .message {
        text-align: center;
        font-weight: bold;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        animation: 1s linear infinite 0s blinkin;
    }
}

.headerAnchor {
    color: #ffffff;
    display: flex;
    align-items: center;
    svg {
        width: 25px;
        margin: 0 10px;
        overflow: visible;
        path {
            fill: #ffffff;
            stroke: #ffffff
        }
    }
    .cartSVG {

        path,circle {
            fill-opacity:0;
            stroke:#ffffff;
            stroke-width:0.5;
            stroke-linecap:round;
            stroke-linejoin:round;
            stroke-dasharray:none;
        }
    }
    transition: $headerMenuTransition;

    span, path, circle {

        transition: $headerMenuTransition;
    }

    &:hover {

        span {

            color: $headerMenuColor;
            text-decoration: underline;
        }
        svg {
            path, circle {

                fill: $headerMenuColor;
                stroke: $headerMenuColor;
            }
        }
    }
}

.redButton {
    padding: 5px 15px;
    border: none;
    border-radius: 3px;
    background: linear-gradient(rgb(255, 101, 132),rgb(247, 37, 79));
    color: #ffffff;
    font-size: 1em;
    &:hover {
        background: linear-gradient(rgb(241, 91, 121),rgb(189, 25, 58));
    }
}

.productName {
    &:hover {
        text-decoration: underline;
        color: navy;
    }
}

.greyUl {
    list-style: none;
    padding: 0;
    li {
        display: flex;
        margin: 30px 0;
        background-color: #ececec;
        border-radius: 7px;
        padding: 10px 30px;
        box-sizing: border-box;
        .imgDiv {
            max-width: 15%;
            display: flex;
            align-items: center;
            img {
                width: 100%;
                border-radius: 7px;
            }
        }
        .flexRight {
            margin-left: 50px;
            
            .productDetail {
                font-size: 1.1em;
                span {
                    font-weight: bold;
                    color: $priceColor;
                }
            }
        }
        .redButton {
            margin-top: 10px;
        }
    }
    .noProduct {
        width: fit-content;
        margin: 150px auto 0;
    }
    .order {
        display: block;
        background: none;
        div {
            text-align: center;
            font-weight: bold;
            font-size: 1.4em;
        }
        span {
            color: $priceColor;
        }
        button {
            display: block;
            margin: 20px auto 0;
            background: linear-gradient( rgb(111, 223, 0), rgb(0, 165, 0));
            &:hover {
                background: linear-gradient( rgb(93, 185, 0), rgb(0, 134, 0));
            }
        }
    }
}

header {
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    box-sizing: border-box;
    background-color: $headerBG;
    z-index: 2;
    color: #ffffff;
    .logo {

        a {

            display: flex;
            align-items: center;
            svg {
                path {
                    fill: #ffffff;
                    transition: $headerMenuTransition;
                }
            }
            span {
                margin-top: 5px;
                color: #ffffff;
                transition: $headerMenuTransition;
            }
            &:hover {
                svg {
                    path {
                        fill: $headerMenuColor;
                    }
                }
                span {
                    color: $headerMenuColor;
                }
            }
        }
    }

    .signIn {
        height: fit-content;
        span {

            color: $headerBG;
            background-color: #ffffff;
            border-radius: 5px;
            padding: 3px 10px;
        }
        span, path {
            transition: $headerMenuTransition;

        }
        svg {
            height: fit-content;
        }
        &:hover {
            span {

                background-color: $headerMenuColor;
                color: #ffffff;
            }
            path {
                fill: $headerMenuColor;
            }
        }
    }

    .headerRightFlex {
        display: flex;
        align-items: center;
        .cartSVGflex {
            position: relative;
            margin: 0 10px;
            .cartSVG {
                transform: scale(80%);
                path,circle {
                    fill-opacity:0;
                    stroke:#ffffff;
                    stroke-width:0.5;
                    stroke-linecap:round;
                    stroke-linejoin:round;
                    stroke-dasharray:none;
                }
            }

            .shoppingCartQ {
                position: absolute;
                top: 5px;
                left: 50%;
                transform: translateX(-37%);
            }
        }        
    }
    
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        padding-top: 50px;
        box-sizing: border-box;
        position: absolute;
        top: 0;
        right: 0;
        li {
            background-color: $headerBG;
            height: 50px;
            display: flex;
            align-items: center;
            padding-right: 25px;
        }
    }
}

.cartMain, .historyMain, .favoriteMain {
    .titleflex {
        display: flex;
        align-items: center;
        svg {
            margin-right: 10px;
            .cartG {
                path, circle {
                    stroke: #3853eb;
                }
            }
            .favG {
                path, circle {
                    stroke: #dc2cff;
                }
            }
            .historyG {
                path, circle {
                    fill: #1aa531;
                }
            }
        }
    }
}

.signInMain {
    .signInDiv, .signUpDiv {
        width: 40%;
        margin: 0 auto;
        h1 {
            text-align: center;
        }
        form {
            padding: 30px 70px 10px;
            background-color: rgb(240, 240, 240);
            margin-bottom: 20px;
            .alert {
                margin-bottom: 10px;
                color: rgb(224, 0, 0);
                text-align: center;
            }
            input {
                display: block;
                width: 100%;
                margin-bottom: 20px;
            }
            input[type='submit'] {
                width: fit-content;
                margin: 0 auto 20px;
            }
        }
    }
    .alert {
        text-align: center;
        span {
            text-decoration: underline;
            &:hover {
                color: blue;
            }
        }
    }
}

.searchBar {
    width: fit-content;
    height: 35px;
    display: flex;
    margin: 0 auto;
    select, input[type='text'] {
        border-radius: 5px;
        border: 1px rgb(255, 134, 47) solid;
        
        font-size: 1em;
        &:focus {
            outline: none;
        }
    }
    input[type='text'] {
        border-radius: 5px 0 0 5px;
        margin-left: 15px;
        width: 200px;
        border-right: none;
    }
    button {
        width: 50px;
        border-radius: 0 5px 5px 0;
        background-color: rgb(255, 134, 47);
        border: 1px rgb(255, 134, 47) solid;
        border-left: none;
        background-image: url('../public/search.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        &:hover {
            background-color: rgb(224, 94, 0);
        }
    }
}

.categorizedProduct {
    margin: 70px 0;

    h2 {
        width: 500px;
        background: linear-gradient(90deg, $headerBG, transparent);
        margin: 0;
        margin-bottom: 15px;
        padding: 5px 30px;
        color: #ffffff;
    }

    .flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;

        .imgA {
            position: relative;
            width: 17%;
            max-height: 200px;

            h3 {
                opacity: 0;
                margin: 0;
                padding: 0 5px;
                box-sizing: border-box;
                width: 100%;
                position: absolute;
                top: 50%;
                left: 0;
                text-align: center;
                z-index: 1;
                transition: all .5s ease-in-out;
                transform: translateY(-50%);
            }
            
            img {
                display: block;
                margin: 0 auto;
                max-width: 100%;
                max-height: 200px;
                border-radius: 7px;

            }

            &::after {
                content: '';
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background-color: rgba(255, 255, 255, 0.5);
                opacity: 0;
                transition: all .5s ease-in-out;
            }

            &:hover {
                h3, &::after {
                    opacity: 1;
                    
                }
                
            }

        }
        .seeMore {
            $color:#a0a0a0;
            display: flex;
            color: $color;
            @keyframes spin{
                0% {
                    transform: scale(100%, 100%);
                }
                50% {
                    transform: scale(100%, 0%);
                }
                100% {
                    transform: scale(100%, 100%);
                }
            }
            svg {
                margin-right: 5px;
                fill: $color;
                animation-duration: 1s;
                animation-iteration-count: infinite;
            }
            $color2:rgb(55, 206, 55);
            &:hover {
                color: $color2;
                svg {
                    fill: $color2;
                    animation-name: spin;
                }
            }
        }
    }
}

.productDetailPage {
    .productDetailFlex {
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;
        h2 {
            margin-top: 0;
        }
        .productImgDiv {

            min-width: 50%;
            max-width: 50%;
            margin-right: 50px;
            
            a {
                display: block;
                margin-bottom: 30px;
                img {
                    width: 100%;
                    border-radius: 10px;
                }
            }

            .imgDiv {
                display: flex;
                justify-content: space-around;
                flex-wrap: wrap;
                img {
                    width: 16%;
                }
            }
        }
        .productDetail {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .favDiv {

                margin-left: 90%;
                svg {
                    transform: scale(70%);
                }
            }
            .addToCartDiv {
                display: flex;
                align-items: center;
                background-color: rgb(218, 241, 234);
                padding: 5px 30px;
                .priceDiv {
                    font-size: 1.2em;
                    color: $priceColor;
                }
                .x {
                    margin-left: 10px;
                }
                input[type='number'] {
                    width: 30px;
                    height: 20px;
                    margin: 0 10px;
                }
                
            }
            $color: rgb(0, 94, 156);
            $color: rgb(160, 160, 160);
            .estimatedDeriverly {
                color: $color;
                .truck {
                    display: flex;
                    align-items: center;
                    margin: 7px 0;
                    svg {
                        width: 30px;
                        height: auto;
                    }
                    path {
                        fill: $color;
                    }
                    div {
                        font-weight: bold;
                        margin: 5px 0 0 10px;
                    }
                }
                .dates {
                    text-align: center;
                }
            }
            .hr {
                border-top: grey 1px solid;
                width: 100%;
                margin-top: 20px;
            }
        }
    }
}

.itemFound {
    height: 25px;
    margin-top: 10px;
}

.productList {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    .productLi {
        width: 20%;
        margin: 20px;
        transition: all .5s ease-in-out;
        padding: 10px;
        box-sizing: border-box;
        border-radius: 7px;
        a {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            img {
                max-height: 150px;
                max-width: 90%;
                border-radius: 7px;
            }
            .titleDiv {
                margin: 5px 0;
            }
            .priceDiv {
                font-weight: bold;
                font-size: 1.2em;
                color: $priceColor;
            }
        }
        &:hover {
            background-color: rgb(130, 238, 202);
        }
    }
}

.settingMain {
    display: flex;
    justify-content: space-between;
    margin-top: 180px;
    form {
        background-color: rgb(236, 236, 236);
        width: 30%;
        padding: 20px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        .alertDiv {
            color: crimson;
        }
        h2 {
            text-align: center;
        }
        input[type='text'], input[type='password'] {
            margin-bottom: 10px;
        }
        input[type='submit'] {
            width: fit-content;
            background: linear-gradient(rgb(109, 109, 255),rgb(50, 50, 230));
            margin: 0 auto;
            &:hover {
                background: linear-gradient(rgb(69, 69, 216),rgb(23, 23, 175));
            }
        }
    }
}

.historyMain {

    .greyUl {

        .purchaseDate {
            margin-bottom: 0;
            text-decoration: underline;
        }

        li:not(.noProduct), .total {
            margin: 10px;
        }
        li {
            display: flex;
            
            .imgA {
                max-width: 10%;
                min-width: 10%;
                img {
                    width: 100%;
                    border-radius: 5px;
                }
            }
            .flexRight {
                margin-left: 30px;
                h3 {
                    margin-top: 0;
                }
                span {
                    color: $priceColor;
                    font-weight: bold;
                    font-size: 1.1em;
                }
            }
        }
        .beforeTotal {
            border: none;
            border-bottom: 1px solid rgb(199, 199, 199);
        }
        .total {
            margin: 0 auto 50px;
            padding: 5px 30px;
            width: fit-content;
            outline: 1px solid rgb(144, 235, 156);
            text-align: center;
            background-color: rgb(230, 250, 233);
            span {
                color: $priceColor;
            }
        }
    }
}