body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
body #root {
  margin: 0;
  padding: 0;
  padding-top: 50px;
  box-sizing: border-box;
  position: relative;
  min-height: 100vh;
}
body #root > main {
  display: flex;
}
body #root > main > section {
  width: 100%;
}
body #root > main .homepage .categorizedProduct {
  width: 100%;
  margin: 50px auto;
}
body #root > main .homepage .categorizedProduct h2 {
  width: 500px;
  background: linear-gradient(90deg, rgb(103, 60, 204), transparent);
  margin: 0;
  margin-bottom: 15px;
  margin-left: 15px;
  padding: 5px 30px;
  color: #ffffff;
}
body #root > main .homepage .categorizedProduct .flex {
  display: flex;
  justify-content: space-between;
  width: -moz-fit-content;
  width: fit-content;
  width: 85%;
  margin: 0 auto;
  align-items: center;
  padding: 0 20px;
}
body #root > main .homepage .categorizedProduct .flex .imgA {
  position: relative;
  width: 20%;
  height: 30vh;
  display: none;
}
body #root > main .homepage .categorizedProduct .flex .imgA:first-of-type, body #root > main .homepage .categorizedProduct .flex .imgA:nth-of-type(2), body #root > main .homepage .categorizedProduct .flex .imgA:nth-of-type(3), body #root > main .homepage .categorizedProduct .flex .imgA:nth-of-type(4) {
  display: block;
}
body #root > main .homepage .categorizedProduct .flex .imgA h3 {
  opacity: 0;
  margin: 0;
  padding: 0 5px;
  box-sizing: border-box;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  text-align: center;
  z-index: 1;
  transition: all 0.5s ease-in-out;
}
body #root > main .homepage .categorizedProduct .flex .imgA img {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 10px;
}
body #root > main .homepage .categorizedProduct .flex .imgA::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
body #root > main .homepage .categorizedProduct .flex .imgA:hover h3, body #root > main .homepage .categorizedProduct .flex .imgA:hover::after {
  opacity: 1;
}
body #root > main .homepage .categorizedProduct .flex .seeMore {
  display: flex;
  color: #a0a0a0;
}
@keyframes spin {
  0% {
    transform: scale(100%, 100%);
  }
  50% {
    transform: scale(100%, 0%);
  }
  100% {
    transform: scale(100%, 100%);
  }
}
body #root > main .homepage .categorizedProduct .flex .seeMore svg {
  margin-right: 5px;
  fill: #a0a0a0;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
body #root > main .homepage .categorizedProduct .flex .seeMore:hover {
  color: rgb(55, 206, 55);
}
body #root > main .homepage .categorizedProduct .flex .seeMore:hover svg {
  fill: rgb(55, 206, 55);
  animation-name: spin;
}
body #root > main .productList .itemFound {
  height: 25px;
  margin-top: 10px;
  margin-left: 20px;
}
body #root > main .productList ul {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}
body #root > main .productList ul li {
  width: 220px;
  height: 300px;
  margin: 20px;
  transition: all 0.5s ease-in-out;
  padding: 10px;
  box-sizing: border-box;
  outline: 1px solid rgb(168, 168, 168);
  background-color: rgba(160, 160, 160, 0.1843137255);
  border-radius: 7px;
}
body #root > main .productList ul li a {
  height: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body #root > main .productList ul li a img {
  width: 90%;
  height: 60%;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 7px;
}
body #root > main .productList ul li a .titleDiv {
  margin: 5px 0;
}
body #root > main .productList ul li a .priceDiv {
  font-weight: bold;
  font-size: 1.2em;
  color: rgb(160, 0, 0);
}
body #root > main .productList ul li:hover {
  background-color: rgb(130, 238, 202);
}
body #root > main .productDetail {
  display: flex;
  justify-content: center;
}
body #root > main .productDetail .left, body #root > main .productDetail .right {
  width: 47%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
body #root > main .productDetail .left {
  border-right: 1px solid rgb(170, 170, 170);
}
body #root > main .productDetail .left img {
  border-radius: 10px;
  display: block;
  box-shadow: 2px 2px 7px rgb(161, 161, 161);
}
body #root > main .productDetail .left a {
  display: block;
  max-width: 80%;
  max-height: 55vh;
}
body #root > main .productDetail .left a img {
  width: 100%;
  height: 100%;
}
body #root > main .productDetail .left hr {
  width: 90%;
  margin: 30px auto;
}
body #root > main .productDetail .left .imgDiv {
  display: flex;
  justify-content: center;
  width: 100%;
}
body #root > main .productDetail .left .imgDiv img {
  width: 18%;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0 3%;
}
body #root > main .productDetail .right {
  padding: 0 30px;
}
body #root > main .productDetail .right .favDiv {
  margin: 0 0 0 auto;
}
body #root > main .productDetail .right .favDiv svg {
  transform: scale(70%);
}
body #root > main .productDetail .right h2 {
  margin-top: 0;
}
body #root > main .productDetail .right .addToCartDiv {
  display: flex;
  align-items: center;
  background-color: rgb(218, 241, 234);
  padding: 5px 30px;
  white-space: nowrap;
}
body #root > main .productDetail .right .addToCartDiv .priceDiv {
  font-size: 1.2em;
  color: rgb(160, 0, 0);
}
body #root > main .productDetail .right .addToCartDiv .x {
  margin-left: 10px;
}
body #root > main .productDetail .right .addToCartDiv input[type=number] {
  width: 30px;
  height: 20px;
  margin: 0 10px;
}
body #root > main .productDetail .right .estimatedDeriverly {
  color: rgb(160, 160, 160);
}
body #root > main .productDetail .right .estimatedDeriverly .truck {
  display: flex;
  align-items: center;
  margin: 7px 0;
}
body #root > main .productDetail .right .estimatedDeriverly .truck svg {
  width: 30px;
  height: auto;
}
body #root > main .productDetail .right .estimatedDeriverly .truck path {
  fill: rgb(160, 160, 160);
}
body #root > main .productDetail .right .estimatedDeriverly .truck div {
  font-weight: bold;
  margin: 5px 0 0 10px;
}
body #root > main .productDetail .right .estimatedDeriverly .dates {
  text-align: center;
}
body #root > main .productDetail .right hr {
  width: 100%;
  margin-top: 20px;
}
body #root > main .cartSection, body #root > main .historySection, body #root > main .favoriteSection {
  padding: 25px;
  box-sizing: border-box;
}
body #root > main .cartSection .titleflex, body #root > main .historySection .titleflex, body #root > main .favoriteSection .titleflex {
  display: flex;
  align-items: center;
}
body #root > main .cartSection .titleflex svg, body #root > main .historySection .titleflex svg, body #root > main .favoriteSection .titleflex svg {
  margin-right: 10px;
}
body #root > main .cartSection .titleflex svg .cartG path, body #root > main .cartSection .titleflex svg .cartG circle, body #root > main .historySection .titleflex svg .cartG path, body #root > main .historySection .titleflex svg .cartG circle, body #root > main .favoriteSection .titleflex svg .cartG path, body #root > main .favoriteSection .titleflex svg .cartG circle {
  stroke: #3853eb;
}
body #root > main .cartSection .titleflex svg .favG path, body #root > main .cartSection .titleflex svg .favG circle, body #root > main .historySection .titleflex svg .favG path, body #root > main .historySection .titleflex svg .favG circle, body #root > main .favoriteSection .titleflex svg .favG path, body #root > main .favoriteSection .titleflex svg .favG circle {
  stroke: #dc2cff;
}
body #root > main .cartSection .titleflex svg .historyG path, body #root > main .cartSection .titleflex svg .historyG circle, body #root > main .historySection .titleflex svg .historyG path, body #root > main .historySection .titleflex svg .historyG circle, body #root > main .favoriteSection .titleflex svg .historyG path, body #root > main .favoriteSection .titleflex svg .historyG circle {
  fill: #1aa531;
}
body #root > main .cartSection ul, body #root > main .historySection ul, body #root > main .favoriteSection ul {
  list-style: none;
  padding: 0;
  padding-bottom: 50px;
}
body #root > main .cartSection ul li, body #root > main .historySection ul li, body #root > main .favoriteSection ul li {
  display: flex;
  align-items: center;
  margin: 30px 0;
  background-color: #ececec;
  border-radius: 7px;
  padding: 10px 30px;
  box-sizing: border-box;
}
body #root > main .cartSection ul li .imgA, body #root > main .historySection ul li .imgA, body #root > main .favoriteSection ul li .imgA {
  min-width: 120px;
  width: 120px;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
}
body #root > main .cartSection ul li .imgA img, body #root > main .historySection ul li .imgA img, body #root > main .favoriteSection ul li .imgA img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 7px;
}
body #root > main .cartSection ul li .right, body #root > main .historySection ul li .right, body #root > main .favoriteSection ul li .right {
  margin-left: 30px;
}
body #root > main .cartSection ul li .right a h3, body #root > main .historySection ul li .right a h3, body #root > main .favoriteSection ul li .right a h3 {
  margin: 0;
  margin-bottom: 5px;
}
body #root > main .cartSection ul li .right .flex, body #root > main .historySection ul li .right .flex, body #root > main .favoriteSection ul li .right .flex {
  display: flex;
  align-items: center;
}
body #root > main .cartSection ul li .right .flex .price, body #root > main .historySection ul li .right .flex .price, body #root > main .favoriteSection ul li .right .flex .price {
  font-size: 1.1em;
  margin-right: 20px;
}
body #root > main .cartSection ul li .right .flex .price span, body #root > main .historySection ul li .right .flex .price span, body #root > main .favoriteSection ul li .right .flex .price span {
  font-weight: bold;
  color: rgb(160, 0, 0);
}
body #root > main .cartSection ul .noProduct, body #root > main .historySection ul .noProduct, body #root > main .favoriteSection ul .noProduct {
  width: -moz-fit-content;
  width: fit-content;
  margin: 150px auto 0;
}
body #root > main .cartSection ul .order, body #root > main .historySection ul .order, body #root > main .favoriteSection ul .order {
  display: block;
  background: none;
}
body #root > main .cartSection ul .order div, body #root > main .historySection ul .order div, body #root > main .favoriteSection ul .order div {
  text-align: center;
  font-weight: bold;
  font-size: 1.4em;
}
body #root > main .cartSection ul .order span, body #root > main .historySection ul .order span, body #root > main .favoriteSection ul .order span {
  color: rgb(160, 0, 0);
}
body #root > main .cartSection ul .order button, body #root > main .historySection ul .order button, body #root > main .favoriteSection ul .order button {
  display: block;
  margin: 20px auto 0;
  background: linear-gradient(rgb(111, 223, 0), rgb(0, 165, 0));
}
body #root > main .cartSection ul .order button:hover, body #root > main .historySection ul .order button:hover, body #root > main .favoriteSection ul .order button:hover {
  background: linear-gradient(rgb(93, 185, 0), rgb(0, 134, 0));
}
body #root > main .historySection ul .purchaseDate {
  margin-bottom: 0;
  text-decoration: underline;
}
body #root > main .historySection ul li:not(.noProduct), body #root > main .historySection ul .total {
  margin: 10px;
}
body #root > main .historySection ul .beforeTotal {
  border: none;
  border-bottom: 1px solid rgb(199, 199, 199);
}
body #root > main .historySection ul .total {
  margin: 0 auto 50px;
  padding: 5px 30px;
  width: -moz-fit-content;
  width: fit-content;
  outline: 1px solid rgb(144, 235, 156);
  text-align: center;
  background-color: rgb(230, 250, 233);
}
body #root > main .historySection ul .total span {
  color: rgb(160, 0, 0);
}
body #root > main .signInSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 50px);
}
body #root > main .signInSection .signInDiv, body #root > main .signInSection .signUpDiv {
  width: 40%;
  max-width: 450px;
}
body #root > main .signInSection .signInDiv h1, body #root > main .signInSection .signUpDiv h1 {
  text-align: center;
}
body #root > main .signInSection .signInDiv form, body #root > main .signInSection .signUpDiv form {
  padding: 30px 70px;
  background-color: rgb(240, 240, 240);
  outline: 1px solid rgb(212, 212, 212);
  margin-bottom: 20px;
}
body #root > main .signInSection .signInDiv form .alert, body #root > main .signInSection .signUpDiv form .alert {
  margin-bottom: 10px;
  color: rgb(224, 0, 0);
  text-align: center;
}
body #root > main .signInSection .signInDiv form input:not(input[type=submit]), body #root > main .signInSection .signUpDiv form input:not(input[type=submit]) {
  display: block;
  width: 100%;
  border: none;
  padding: 5px;
  box-sizing: border-box;
  margin-bottom: 20px;
  background-color: rgba(204, 204, 204, 0.7529411765);
  font-size: 1rem;
}
body #root > main .signInSection .signInDiv form input:not(input[type=submit])::-moz-placeholder, body #root > main .signInSection .signUpDiv form input:not(input[type=submit])::-moz-placeholder {
  color: rgba(0, 0, 0, 0.3333333333);
}
body #root > main .signInSection .signInDiv form input:not(input[type=submit])::placeholder, body #root > main .signInSection .signUpDiv form input:not(input[type=submit])::placeholder {
  color: rgba(0, 0, 0, 0.3333333333);
}
body #root > main .signInSection .signInDiv form input:not(input[type=submit]):focus, body #root > main .signInSection .signUpDiv form input:not(input[type=submit]):focus {
  outline: none;
}
body #root > main .signInSection .signInDiv form input[type=submit], body #root > main .signInSection .signUpDiv form input[type=submit] {
  width: -moz-fit-content;
  width: fit-content;
  display: block;
  margin: 0 auto;
}
body #root > main .signInSection .toggle {
  text-align: center;
}
body #root > main .signInSection .toggle span {
  text-decoration: underline;
  cursor: pointer;
}
body #root > main .signInSection .toggle span:hover {
  color: blue;
}
body #root > main .setting {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
body #root > main .setting form {
  background-color: rgb(236, 236, 236);
  width: 30%;
  min-height: 50vh;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
body #root > main .setting form .alertDiv {
  color: crimson;
}
body #root > main .setting form h2 {
  text-align: center;
}
body #root > main .setting form input[type=text], body #root > main .setting form input[type=password] {
  margin-bottom: 10px;
}
body #root > main .setting form input[type=submit] {
  width: -moz-fit-content;
  width: fit-content;
  background: linear-gradient(rgb(109, 109, 255), rgb(50, 50, 230));
  margin: 0 auto;
}
body #root > main .setting form input[type=submit]:hover {
  background: linear-gradient(rgb(69, 69, 216), rgb(23, 23, 175));
}

* {
  font-family: Helvetica, "Times New Roman", Times, Arial, serif;
}

a {
  color: #000000;
  text-decoration: none;
}

hr {
  border: none;
  border-top: 1px solid rgb(170, 170, 170);
}

input[type=submit] {
  cursor: pointer;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.4588235294);
  z-index: 2;
}
@keyframes spinnin {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@keyframes blinkin {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes blinkin2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.loading .spin {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 20px solid rgb(185, 185, 185);
  border-top: 20px solid rgb(109, 148, 255);
  border-bottom: 20px solid rgb(109, 148, 255);
  animation: 2s linear infinite 0s spinnin;
}
.loading .message {
  text-align: center;
  font-weight: bold;
  position: absolute;
  width: 300px;
  height: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: 1s linear infinite 0s blinkin;
}
.loading .message span {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  animation: 6s steps(2, jump-none) infinite blinkin2;
}
.loading .message span:first-of-type {
  animation-delay: 3s;
}

.redButton {
  cursor: pointer;
  padding: 5px 15px;
  border: none;
  border-radius: 3px;
  background: linear-gradient(rgb(255, 101, 132), rgb(247, 37, 79));
  background: linear-gradient(rgb(255, 198, 98), rgb(246, 166, 31));
  color: #ffffff;
  font-size: 1em;
}
.redButton:hover {
  background: linear-gradient(rgb(241, 91, 121), rgb(189, 25, 58));
  background: linear-gradient(rgb(246, 166, 31), rgb(233, 147, 0));
}

.productName:hover {
  text-decoration: underline;
  color: navy;
}

header {
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  box-sizing: border-box;
  background-color: rgb(39, 39, 39);
  z-index: 2;
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 166, 1, 0.473);
}
header .leftLogo img {
  width: 80px;
  display: block;
}
header .hamburger {
  display: none;
}
header .headerRight {
  display: flex;
  align-items: center;
}
header .headerRight .cartSVGflex {
  position: relative;
  margin: 0 10px;
}
header .headerRight .cartSVGflex .cartSVG {
  transform: scale(80%);
}
header .headerRight .cartSVGflex .cartSVG path, header .headerRight .cartSVGflex .cartSVG circle {
  fill-opacity: 0;
  stroke: #ffffff;
  stroke-width: 0.5;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: none;
}
header .headerRight .cartSVGflex .shoppingCartQ {
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translateX(-37%);
}
header .headerAnchor {
  color: #ffffff;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
header .headerAnchor svg {
  width: 25px;
  margin: 0 10px;
  overflow: visible;
}
header .headerAnchor svg path {
  fill: #ffffff;
  stroke: #ffffff;
}
header .headerAnchor .cartSVG path, header .headerAnchor .cartSVG circle {
  fill-opacity: 0;
  stroke: #ffffff;
  stroke-width: 0.5;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: none;
}
header .headerAnchor span, header .headerAnchor path, header .headerAnchor circle {
  transition: all 0.2s ease-in-out;
}
header .headerAnchor:hover span {
  color: rgb(246, 166, 31);
  text-decoration: underline;
}
header .headerAnchor:hover svg path, header .headerAnchor:hover svg circle {
  fill: rgb(246, 166, 31);
  stroke: rgb(246, 166, 31);
}
header .signIn {
  height: -moz-fit-content;
  height: fit-content;
}
header .signIn span {
  color: rgb(39, 39, 39);
  background-color: #ffffff;
  border-radius: 5px;
  padding: 3px 10px;
}
header .signIn span, header .signIn path {
  transition: all 0.2s ease-in-out;
}
header .signIn svg {
  height: -moz-fit-content;
  height: fit-content;
}
header .signIn:hover span {
  background-color: rgb(246, 166, 31);
  color: #ffffff;
}
header .signIn:hover path {
  fill: rgb(246, 166, 31);
}
header > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 50px;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  right: 0;
}
header > ul li {
  background-color: rgb(39, 39, 39);
  height: 50px;
  display: flex;
  align-items: center;
  padding-right: 25px;
}

aside.forLaptop {
  min-width: 250px;
  height: calc(100vh - 50px);
  position: sticky;
  top: 50px;
  left: 0;
  box-sizing: border-box;
  background-color: rgb(70, 70, 70);
  border-right: 1px solid rgb(189, 189, 189);
}
aside.forLaptop ul {
  list-style: none;
  padding-left: 20px;
}

.searchBar {
  width: -moz-fit-content;
  width: fit-content;
  height: 35px;
  display: flex;
  margin: 20px auto;
}
.searchBar select, .searchBar input[type=text] {
  border-radius: 5px;
  border: 1px rgb(246, 166, 31) solid;
  font-size: 1em;
}
.searchBar select:focus, .searchBar input[type=text]:focus {
  outline: none;
}
.searchBar input[type=text] {
  border-radius: 5px 0 0 5px;
  margin-left: 15px;
  width: 200px;
  border-right: none;
}
.searchBar button {
  cursor: pointer;
  width: 50px;
  border-radius: 0 5px 5px 0;
  background-color: rgb(246, 166, 31);
  border: 1px rgb(246, 166, 31) solid;
  border-left: none;
  background-image: url("../public/search.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.searchBar button:hover {
  background-color: rgb(231, 146, 0);
}

.underSearchBar {
  width: 95%;
  margin: 0 auto;
}

@media only screen and (max-width: 500px) {
  body #root {
    padding-top: 40px;
  }
  @keyframes spin {
    0% {
      transform: scale(100%, 100%);
    }
    50% {
      transform: scale(100%, 0%);
    }
    100% {
      transform: scale(100%, 100%);
    }
  }
  hr {
    border: none;
  }
  @keyframes spinnin {
    from {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }
  @keyframes blinkin {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes blinkin2 {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  header {
    height: 40px;
    padding: 0 10px;
  }
  header .leftLogo {
    display: none;
  }
  header .hamburger {
    display: block;
  }
  header .headerRight .cartSVGflex {
    margin: 0;
  }
  header .headerRight .cartSVGflex .cartSVG {
    transform: scale(65%);
  }
  header > ul {
    padding-top: 40px;
  }
  aside.forLaptop {
    display: none;
  }
}/*# sourceMappingURL=index.css.map */